<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <%- include( '../common/style.html' ) %>
</head>
<body>
    
    <!-- 侧边栏 -->
    <%- include( '../common/aside.html' ) %>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <%- include( '../common/header.html' ) %>
            <!-- 编辑分类 -->
            <div class="body course-category container">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">用户管理</a></li>
                    <li class="active">添加用户</li>
                </ol>
                <div class="row category-add">
                <div class="col-md-offset-2 col-md-2">
                    <div class="headerImg">
                        <img id="headerImg" src="" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                <!-- 表单数据 -->
                    <form class="categoryForm">
                      <div class="form-group">
                        <label for="username">用户账号</label>
                        <input
                        name="username"
                        type="text" 
                        class="form-control" 
                        id="exampleInputEmail1" 
                        placeholder="分类名称">
                      </div>
                      <div class="form-group">
                        <label for="password">初始密码</label>
                        <input
                        name="password"
                        type="text" 
                        class="form-control" 
                        id="exampleInputEmail1" 
                        placeholder="分类名称">
                      </div>
                      <div class="form-group">
                        <label for="power">权限</label>
                        <input
                        name= "power"
                        type="number" 
                        class="form-control"  
                        placeholder="排序">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputFile">用户头像</label>
                        <input
                        name="headurl"
                        type="file" 
                        id="exampleInputFile">
                      </div>
                      <div class="form-group">
                            <label for="" class=" control-label">
                                性别
                            </label>
                            <select name="sex" class="form-control input-sm">
                                    <option value="">请选择</option>
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                            </select>
                        </div>
                      <a href="javascript:;"
                       type="submit" 
                       class="btn btn-success btn-sm pull-right">
                       提交
                       </a>
                    </form>
                </div>
                    
                </div>
            </div>
            
        </div>
    </div>
    <%- include( '../common/script.html' ) %>
    <script>    
     require( [ 'userAdd' ] );
    </script>
</body>
</html>







