<html>
<head>
	<title>Zing Gallery</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/less/home.css">
</head>
<body>
	<header>
		<a href="./">
			<img src="./img/avatar.png" class="header-avater" />
		</a>
		<a href="./">
			<h1 class="header-title">Zing Gallery</h1>
		</a>
	</header>
  <div class="layout">
  	


  <div class="albums" id="listOut">
  <!-- 
    
      
    
      <figure class="thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          
          <a href="./大连" class="img-wrap">
          
            <img class="js-image" alt="大连" data-src="./大连?tn=1" src="./img/preloader.gif" itemprop="thumbnail" data-not-lz="true" />
          </a>
          <figcaption itemprop="caption description">大连</figcaption>
      </figure>
    
      <figure class="thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          
          <a href="./手机摄影" class="img-wrap">
          
            <img class="js-image" alt="手机摄影" data-src="./手机摄影?tn=1" src="./img/preloader.gif" itemprop="thumbnail" data-not-lz="true" />
          </a>
          <figcaption itemprop="caption description">手机摄影</figcaption>
      </figure>
    
      <figure class="thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          
          <a href="./江南小镇" class="img-wrap">
          
            <img class="js-image" alt="江南小镇" data-src="./江南小镇?tn=1" src="./img/preloader.gif" itemprop="thumbnail" data-not-lz="true" />
          </a>
          <figcaption itemprop="caption description">江南小镇</figcaption>
      </figure>
    
      <figure class="thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          
          <a href="./长白山" class="img-wrap">
          
            <img class="js-image" alt="长白山" data-src="./长白山?tn=1" src="./img/preloader.gif" itemprop="thumbnail" data-not-lz="true" />
          </a>
          <figcaption itemprop="caption description">长白山</figcaption>
      </figure>
    
      <figure class="thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          
          <a href="./青海湖" class="img-wrap">
          
            <img class="js-image" alt="青海湖" data-src="./青海湖?tn=1" src="./img/preloader.gif" itemprop="thumbnail" data-not-lz="true" />
          </a>
          <figcaption itemprop="caption description">青海湖</figcaption>
      </figure>
  
     -->
  </div>
  <div tabindex="-1" class="overlay js-overlay"></div>
  <div class="dialog js-dialog">
    <form action="./233" method="post" class="js-form">
      <input class="input-lock js-input-lock" type="text" name="password" placeholder="password needed" />
      <input type="submit" value="确定" class="js-modal-yes btn-default" />
    </form>
  </div>

  </div>
  <footer class="footer">
  	<p>Powered by <a href="###" target="_blank">陈黎明</a></p>
  </footer>
<script id="categoryListTpl" type='text/template'>
  {{each list }}
    <figure class="thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          
          <a href=/list?id={{$value._id}} class="img-wrap">
            <img class="js-image" 
             alt="{{$value.name}}"
             data-src="./内蒙?tn=1" 
             src={{$value.headurl}}
             itemprop="thumbnail" 
             data-not-lz="true" />
          </a>
          <figcaption itemprop="caption description">
          {{$value.name}}
          </figcaption>
      </figure>
  {{/each}}
</script>
   <%- include( '../common/script.html' ) %>
    <script>    
     require( [ 'homeIndex' ] );
    </script>
</body>
</html>
