<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>此处是导航栏|首页|栏目页</title>
    <link rel="stylesheet" href="/assets/less/index_reset.css">
    <link rel="stylesheet" href="/assets/less/waterfall.css">
    <link rel="stylesheet" href="/assets/less/jquery-rebox.css">
</head>
<body>
<div id="header">
    <h1>种类名称</h1>
</div>
<div id="container"></div>
<!-- <script type="text/x-handlebars-template" id="waterfall-tpl">
{{#result}}
    <div class="item" >
        <a href="{{image}}" title="哈哈啊哈">
            <img src="{{image}}" width="{{width}}" height="{{height}}" />
        </a>
    </div>
{{/result}}
</script> -->

<script type="text/template" id="waterfall-tpl">
{{each result}}
    <div class="item" >
        <a href="{{$value.url}}" title="哈哈啊哈">
            <img src="{{$value.url}}" width="199"  />
        </a>
    </div>
{{/each}}
</script>


 <%- include( '../common/script.html' ) %>
 <script>
     require(['photoIndex'])
 </script>

</body>
</html>